<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include header.html %}
  
    <!-- begin content -->
    <main class="content" aria-label="Content">
      <!-- begin wrapper-page -->
      <div class="wrapper-page">
        {{ content }}
      </div>
      <!-- end wrapper-page -->
    </main>
    <!-- end content -->

    <div class="top" title="Top">↑</div>

    {% include footer.html %}

  <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/assets/js/common.js"></script>
</body>

</html>