---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col col-7 col-d-10 col-m-12 push-m-0 push-d-1 push-2">

      <div class="post-head">
        <div class="post-info">
          <span class="post-date">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
          </span>
        </div>
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </div>

    </div>
  </div>
</div>

{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
      <div class="image-box">
        <div class="post-image" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
      <!-- begin post -->
      <article class="post">

        <div class="post__content">
          {{ content }}
        </div>

        <div class="post__navigation">

          {% if page.previous.url %}
            <div class="prev">
              <a class="post__nav post__nav__prev" href="{{page.previous.url}}"><i class="ion ion-ios-arrow-back"></i> Previous Page</a>
              <h4 class="post__nav__title"><a href="{{page.previous.url}}">{{page.previous.title}}</a></h4>
            </div>
          {% endif %}

          {% if page.next.url %}
          <div class="next">
            <a class="post__nav post__nav__next" href="{{page.next.url}}">Next Page <i class="ion ion-ios-arrow-forward"></i></a>
            <h4 class="post__nav__title"><a href="{{page.next.url}}">{{page.next.title}}</a></h4>
          </div>
          {% endif %}
        </div>

      </article>
      <!-- end post -->
    </div>
  </div>
</div>